<div class="card">
	<div class="card-block">
		<div class="row field-group">
			<div class="column">
				{{ form.fields.name|raw }}
				{{ form.fields.slug|raw }}
			</div>
			<div class="column">
				{{ form.fields.type|raw }}
				{{ form.fields.publish_date|raw }}
			</div>
		</div>
		<div class="row field-group">
			<div class="column">
				{{ form.fields.student_price|raw }}
				{{ form.fields.nonstudent_price|raw }}
				{{ form.fields.door_price|raw }}
			</div>
			<div class="column">
				{{ form.fields.start_time|raw }}
				{{ form.fields.end_time|raw }}
			</div>
		</div>

		<div class="row field-group">
			<div class="column">
				{{ form.fields.banner|raw }}
				{{ form.fields.logo|raw }}
			</div>
			<div class="column">
				{{ form.fields.tickets|raw }}
				{{ form.fields.facebook|raw }}
			</div>
		</div>
		<div class="row field-group">
			{{ form.fields.description|raw }}
		</div>
		<div class="row field-group">
			{{ form.fields.location|raw }}
		</div>
	</div>
</div>




<style>
.row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: nowrap;

	margin: 0;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.row > div {
	flex-grow: 1;
	padding-right: 1rem;
	width: 100%;
}

.row > div:last-child {
	padding-right: 0;
}

.row > div .form-group {
	width: 100%;
}

.row .form-group {
	margin-bottom: 1rem;
}

.row .form-group .text-muted {
	margin-bottom: .5rem;
	margin-top: -.75rem;
	font-size: .8rem;
}
</style>