<div class="card">
    <h2 class="card-title">
        <a href="/events" title="{{ currentYear }} Events">
            {{ currentYear }} Events
        </a>
    </h2>
    <ul class="clean table">
        {% for event in currentYearEvents %}
            <li {% if (event.start_time.format("Y-m-d") == date) %}class="current"{% endif %}>
                <a
                    href="/events/{{ event.type.slug }}/{{event.start_time.format('Y-m-d') }}"
                    title="{{ event.name }}">
                    {{ event.name }} ({{ event.start_time.format("M jS")}})
                </a>
            </li>
        {% endfor %}
    </ul>
</div>