<div class="event">
	<div class="event-banner">
		<img src="{{ event.banner.url }}"/>
		<div class="event-meta">
			<p class="event-title">
				{{ event.name }}
			</p>
			<p class="mid">
				<span class="event-date">
					<span class="month">
						{{ event.start_time.date|date("M") }}
					</span>
					<span class="day">
						{{ event.start_time.date|date("d") }}
					</span>
				</span>
				<span class="event-location">
					{{ event.location.formatted }}
				</span>
			</p>
			<p class="prices">
				{% if (event.student_price|length > 0) %}
				<span class="student">
					Student ${{ event.student_price }}
				</span>
				{% endif %}

				{% if (event.nonstudent_price|length > 0) %}
				<span class="non-student">
					Non-Student ${{ event.nonstudent_price }}
				</span>
				{% endif %}

				{% if (event.door_price|length > 0) %}
				<span class="door">
					Door ${{ event.door_price }}
				</span>
				{% endif %}
			</p>
		</div>

		{% if (event.tickets|length > 0) %}
		<div class="tickets-link">
			<a href="{{ event.tickets }}" target="_blank">
				<span class="open-bracket">[</span>
				Tickets
				<span class="close-bracket">]</span>
			</a>
		</div>
		{% endif %}

		{% if (event.facebook|length > 0) %}
		<div class="facebook-link">
			<a href="{{ event.facebook }}" target="_blank">
				<span class="open-bracket">[</span>
				Facebook
				<span class="close-bracket">]</span>
			</a>
		</div>
		{% endif %}
	</div>
	<div class="event-description column">
		{{ event.description|raw }}
	</div>
	<div class="event-map">
		{{ event.location.image({"width": 1024, "height": 512, "scale": 2})|raw }}
	</div>
</div>