<a
	href="/events/{{ event.category.slug }}/{{ event.start_time.format('Y-m-d') }}"
	title="More Information for {{ event.name }}">
	<div class="event-card">
		<div class="banner">
			<img src="{{ event.banner.make.url }}">
		</div>
			<div class="content">
				<div class="meta">
					<p>{{ event.start_time.format("M jS") }} {{ event.start_time.format("g:ia") }}</p>
				</div>
				<div class="info">
					<h3>{{ event.name }}</h3>
					<span>{{ event.meta_description|raw }}</span>
				</div>
				<div class="prices">
					<p>{{ event.getPrices()|raw }}</p>
				</div>
			</div>
	</div>
</a>