<h3>All Events</h3>
<ul class="list column">
{% for event in entries("events", "events")
		.eventBySlug(type)
		.orderBy("start_time", "desc")
		.live()
		.get()
		%}
	<li>
		<a href="/events/{{ event.type.event_type_slug }}/{{ event.start_time.date|date("Y-m-d") }}">
			{# Iterator must be "for event in ..." #}
			{% include "finnito.module.events::partials/event_card" %}
		</a>
	</li>
{% endfor %}
</ul>