{% extends layout("event") %}

{% block content %}
<div>
	{# Show current year events #}
	{% include "finnito.module.events::partials/current_year_card" %}

	{# Show all events of the same type #}
	<div class="card">
		<h3 class="card-title">All {{ event.type.name }} Events</h3>
		<ul class="clean table">
			{% for event in event.type.events %}
			<li {% if (event.start_time.format("Y") == year) %}class="current"{% endif %}>
				<a
					href="/events/{{ event.type.slug }}/{{ event.start_time.format('Y-m-d') }}"
					title="{{ event.name }} in {{ event.start_time.format('Y') }}">
					{{ event.name }} ({{ event.start_time.format("Y") }})
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
<div>
	{% include "finnito.module.events::partials/event_body" %}
</div>
{% endblock %}