{% extends layout("default") %}

{% block content %}

<div>
	{% include "finnito.module.events::partials/current_year_card" %}

	<div class="card">
		<h3 class="card-title">Events by Year</h3>
		<ul class="clean table">
			{% for y in years %}
			<li
				{% if ( y == year) %}class="current"{% endif %}
				>
				<a
					href="/events/year/{{ y }}"
					title="Events in {{ y }}">
					{{ y }}
				</a>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>

<div>
	<div>
		<h1>{{ year }} Events</h1>
		{% for event in events %}
			{% include "finnito.module.events::partials/event_card" %}
		{% endfor %}
	</div>
</div>

{% endblock %}